## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [16]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
print(data.groupby(['sex'])['age'].count())

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
t = data[data.sex == 'Male']['age'].mean()
print(t)

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
v = len(data['native-country'])
c = len(data[data['native-country'].isin(['United-States'])])
x = (float(c) * 100)/float(v)
print(x)

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
moreThanFifrh = data[(data['salary'] == '>50K') | (data['salary'] == '>=50K')]
lessThenFifth = data[data['salary'] == '<=50K']

meanAgeMore = moreThanFifrh['age'].mean()
meanAgeLess = lessThenFifth['age'].mean()

stdAgeMore = moreThanFifrh['age'].std()
stdAgeLess = lessThenFifth['age'].std()

print('Средний возраст пир зарплате >= 50К : ' + str(meanAgeMore))
print('Средний возраст при зарплате <= 50K : ' + str(meanAgeLess))
print('Среднеквадратичное отклонение при зарплате >= 50К : ' + str(stdAgeMore))
print('Среднеквадратичное отклонение при зарплате <= 50K : ' + str(stdAgeLess))

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
#Алгоритм : 
#Посчитать кол-во людей с зарпалтой > 50К
#А потом подсчитать кол-во людей с высшим образованием и зарплатой > 50K
#Далее эти значения сравниить
#Если они совпадают - Выводим true
#Если нет - false
#Однако в нашей ситуации всё оказалось куда проще
salaryMoreThanFifth = data[data['salary'] == '>50K']
print("Кол-во людей с разплатой > 50K : " + str(len(salaryMoreThanFifth)))
peopleWithHighEducation = data[(data['education'] == 'Dachelors') | (data['education'] == 'Prof-school') | (data['education'] == 'Assoc-asdm') | (data['education'] == 'Assoc-voc') | (data['education'] == 'Masters') | (data['education'] == 'Doctorate')]
print("Кол-во людей с высшим образованием : " + str(len(peopleWithHighEducation)))

print("Уже здесь можно сделать вывод, что это не так, т.к. людей с \nвысшим образованием куда меньше, чем людей, получающих зарплату >50К \nПроверим это циклом и получим :")
if int(len(salaryMoreThanFifth)) > int(len(peopleWithHighEducation)) : 
    print('False')
elif int(len(salaryMoreThanFifth)) < int(len(peopleWithHighEducation)) : 
    print('True')

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
print(data.groupby(['race']).describe().head())
print(data.groupby(['sex']).describe().head())
print(data[data['race'] == 'Asian-Pac-Islander'].describe())

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
#Находим тех, кто женат
f = data[data['marital-status'].str.contains("^Married")]

#Определяем кол-во тех, кто женат и зарабатыватет >50K
salaryOfMarried = f[data['salary'] == '>50K']

#Высчитываем кол-во тех, кто зарабатывает >50K
howMannyEarnMoreThamFifth = data[data['salary'] == '>50K']

#Определяем сколько неженатых, зарабатывающих >50K

salaryOfNotMarried = int(len(howMannyEarnMoreThamFifth)) - int(len(salaryOfMarried))

if int(len(salaryOfMarried)) > salaryOfNotMarried :
    print('Больше зарабатывают женатые')
elif int(len(salaryOfMarried)) < salaryOfNotMarried:   
    print('Больше зарабатывают неженатые')

print( 'Всего зарабатывающих >50K : '+ str(len(howMannyEarnMoreThamFifth)))
print( 'Всего неженатых зарабатывающих больше 50К : ' + str(salaryOfNotMarried))
print( 'Всего женатых зарабатывающих больше 50К : '+ str(len(salaryOfMarried)))

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
maxHoursPerWeek = data['hours-per-week'].max()
print('Максимальное число рабочих часов в неделю : ' + str(maxHoursPerWeek))
howManyPeopleWorksMax = data[data['hours-per-week'] == maxHoursPerWeek]
print("Сколко людей работает максимальное число часов в неделю : " + str(len(howManyPeopleWorksMax)))

howManyPeopleWorksMaxAndHaveHighSalary = howManyPeopleWorksMax[data['salary'] == '>50K']

perCentOfThisPeople = (int(len(howManyPeopleWorksMaxAndHaveHighSalary)) * 100)/int(len(howManyPeopleWorksMax))
print('Сколько из них имеет высокую зарплату : ' + str(perCentOfThisPeople) + ' %')

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:

#Те, кто зарабатывают мало
lowSalary = data[data['salary'] == '<=50K']
groupLowByCountry = lowSalary.groupby(['native-country'])
#Их среднее время работы
meanHourLowSalary = groupLowByCountry['hours-per-week'].mean()
print('Среднее время работы тех, кто зарабатывает мало(для каждой страны) : \n' + str(meanHourLowSalary))


#Те, кто зарабатывает много
highSalary = data[data['salary'] == '>50K']
groupHighByCountry = highSalary.groupby(['native-country'])
#Их среднее время работы
meanHourHighSalary = groupHighByCountry['hours-per-week'].mean()
print('Среднее время работы тех, кто зарабатывает много(для каждой страны) : \n' + str(meanHourHighSalary))

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
def rule(age):
    if age > 16 and age < 35:
        return 'young'
    elif age > 35 and age < 70:
        return 'adult'
    elif age > 70 and age < 100:
        return 'retireee'

data['AgeGroup'] = data.apply(lambda x : rule(x['age']),axis = 1)
print(data.head())

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
#Код из предыдущего таска
def rule(age):
    if age > 16 and age < 35:
        return 'young'
    elif age > 35 and age < 70:
        return 'adult'
    elif age > 70 and age < 100:
        return 'retireee'

data['AgeGroup'] = data.apply(lambda x : rule(x['age']),axis = 1)
#Код из предыдущего таска

salar = data[data['salary'] == '>50K']
all = data['AgeGroup'].value_counts()
print(all)
maxEarning = str(data['AgeGroup'].value_counts().max())
print('Больше всего зарабатывают : ' + str(data['AgeGroup'].value_counts().max()))

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
groupCount = data.groupby('occupation')['age'].count()
print('Кол-во людей в каждой occupation \n' + str(groupCount))

meanVal = data.groupby('occupation').mean()
meanAgwVal = meanVal[meanVal['age'] < 40 ]
meanWithHour = meanAgwVal[meanAgwVal['hours-per-week'] > 5]
print(meanWithHour)